!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Thank you for registering
  %body
    %h1 Thank you. You are currently on the waiting list
    %p You have been placed on a waiting list for Dr Richard Stallman's "Copyright vs Community" talk on Friday, 22nd June at 2:00pm, as the event is currently full.
    %p
    %p We will be in touch should a sufficient number of people drop out.
    %p
    %h2 Finding us
    %p Forward are based in rock and roll Camden in the heart of London. We're well connected, with plenty of transport links close to the office - ideal for hosting conferences or presentations. 
    %p Our address is: Floor 2, Centro 3, 19 Mandela Street, London, NW1 0DU, United Kingdom
    %p Transport Links:
    %ul
      %li Underground: Camden Town, Mornington Crescent (Both Northern Line)
      %li Train: Euston, St Pancras International, Camden Road
      %li Bus: 274, 46
    %p 
      For more information
      %a{:href => "http://forwardtechnology.co.uk"} visit our website
