!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Thank you for registering
  %body
    %h1 Thank you. You have successfully registered
    %p Your place in the audience for Dr Richard Stallman's "Copyright vs Community" talk on Friday, 22nd June at 2:00pm has been reserved
    %p
    %p We expect interest to be very high in this event, so if you can't make it please email venue@forward.co.uk
    %p
    %h2 Finding us
    %p Forward are based in rock and roll Camden in the heart of London. We're well connected, with plenty of transport links close to the office - ideal for hosting conferences or presentations. 
    %p Our address is: Floor 2, Centro 3, 19 Mandela Street, London, NW1 0DU, United Kingdom
    %p Transport Links:
    %ul
      %li Underground: Camden Town, Mornington Crescent (Both Northern Line)
      %li Train: Euston, St Pancras International, Camden Road
      %li Bus: 274, 46
    %p 
      For more information
      %a{:href => "http://forwardtechnology.co.uk"} visit our website
    